@model MilsEventModel

<div class="row">
  <dl class="m-0">
    <dt class="col-12">Phase instructions:</dt>
    <dd>
      <ul>
        @if (Model.Instructions.Any())
        {
          @foreach (var item in Model.Instructions)
          {
            <li>@item</li>
          }
        }
        else
        {
         @:None
        }
      </ul>
    </dd>
  </dl>
</div>