@model IEnumerable<SkaapBoek.Core.Group>

@{
  ViewData["Title"] = "Groups";
}

<h1 class="text-light mb-3">Groups</h1>

<partial name="_UpdateMessage" />

<partial name="_GroupTable"
         model="new GroupTableModel {
                                Groups = Model,
                                HideMilsData = false,
                                HideDeleteAction = false
                              }" />

<partial name="_ModalDelete" />

<a asp-action="Create" class="btn btn-primary">Add group</a>

@section Scripts {
  <script defer>
    $(function () {
      appns.groups.index();
    })
  </script>
}