@model SheepCreateViewModel

@{
  ViewBag.Title = "New sheep";
}


<div class="col-lg-6">
  <h1 class="text-light display-4">New Sheep</h1>
  <form class="text-light" method="post" asp-action="Create">
    <div class="mt-3">
      <h4>General Information</h4>
      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label asp-for="TagNumber"></label>
          <input asp-for="TagNumber" class="form-control" />
          <span asp-validation-for="TagNumber" class="text-danger"></span>
        </div>
        <div class="col-md-6 mb-3">
          <label asp-for="ColorId"></label>
          <select asp-for="ColorId" class="form-control" asp-items="Model.Colors"></select>
          <span asp-validation-for="ColorId" class="text-danger"></span>
        </div>
        <div class="col-md-6 mb-3">
          <label asp-for="Weight"></label>
          <div class="input-group">
            <input asp-for="Weight" class="form-control" />
            <div class="input-group-append">
              <div class="input-group-text">kg</div>
            </div>
          </div>
          <span asp-validation-for="Weight" class="text-danger"></span>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-3 mb-3">
          <label asp-for="BirthDate"></label>
          <input asp-for="BirthDate" class="form-control" />
          <span asp-validation-for="BirthDate" class="text-danger"></span>
        </div>
        <div class="col-md-3 mb-3">
          <label asp-for="AcquireDate"></label>
          <input asp-for="AcquireDate" class="form-control" />
          <span asp-validation-for="AcquireDate" class="text-danger"></span>
        </div>
        <div class="col-md-6 mb-3">
          <label asp-for="CostPrice"></label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">R</div>
            </div>
            <input asp-for="CostPrice" class="form-control" />
          </div>
          <span asp-validation-for="CostPrice" class="text-danger"></span>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-3 mb-3">
          <label class="w-100" asp-for="GenderId">Gender</label>
          @foreach (var gender in Model.Genders)
          {
            <div class="form-check">
              <input class="form-check-input" id="Gender[@gender.Id]" asp-for="GenderId" type="radio" value="@gender.Id" />
              <label class="form-check-label" for="Gender[@gender.Id]">@gender.Type</label>
            </div>
          }
          <span class="text-danger" asp-validation-for="GenderId"></span>
        </div>
        <div class="col-md-3 mb-3">
          <label asp-for="SheepStatusId"></label>
          <select asp-for="SheepStatusId" class="custom-select" asp-items="Model.StatusList"></select>
          <span asp-validation-for="SheepStatusId" class="text-danger"></span>
        </div>
        <div class="col-md-6 mb-3">
          <label asp-for="SalePrice"></label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">R</div>
            </div>
            <input asp-for="SalePrice" class="form-control" />
          </div>
          <span asp-validation-for="SalePrice" class="text-danger"></span>
        </div>
      </div>
    </div>
    @*<div class="mt-3">
        <h4>Relationships</h4>
        <div class="form-group">
            <label asp-for="ParentIds" class="text-light">Parents</label>
            <select asp-for="ParentIds" data-selector="multi" data-allow-clear="true"
                    asp-items="Model.Parents" data-placeholder="Select parents..."
                     class="custom-select" size="5"></select>

          <div class="col-md-6 mb-3 form-group text-dark">
            <label asp-for="ChildrenIds" class="text-light">Children</label>
            <select asp-for="ChildrenIds" asp-items="Model.Children"
                    class="custom-select" size="5"></select>
          </div>
        </div>
      </div>*@
    @*<ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="home-tab" data-toggle="tab"
             href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <div class="multilist-container m-3 d-flex justify-content-between">
            <div class="flex-grow-1 card bg-secondary sheep-source">
              <div class="card-header text-light">
                <strong>Available Sheep</strong>
              </div>
              <div class="form-group m-1">
                <div class="input-group">
                  <input type="search" class="form-control" placeholder="Search" />
                </div>
              </div>
              <ul class="list-group">
              </ul>
            </div>
            <div class="align-self-center">
              <div class="m-2">
                <div>
                  <div class="multi-btn-target btn btn-info mt-1 mb-1">
                    <i class="material-icons icon-rotate">double_arrow</i>
                  </div>
                </div>
                <div>
                  <div class="multi-btn-source btn btn-info mt-1 mb-1">
                    <i class="material-icons">double_arrow</i>
                  </div>
                </div>
              </div>
            </div>
            <div class="flex-grow-1 card bg-secondary sheep-target">
              <div class="card-header text-light">
                <strong>Notices</strong>
              </div>
              <div class="form-group m-1">
                <div class="input-group">
                  <input type="search" class="form-control" placeholder="Search" />
                </div>
              </div>
              <ul class="list-group">
              </ul>
            </div>
          </div>
        </div>
      </div>*@
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="mt-3">
      <a asp-action="Index" class="btn btn-outline-secondary text-light">Cancel</a>
      <input type="submit" class="btn btn-primary" value="Create" />
    </div>
  </form>
</div>

@section Scripts{
  <script defer>
    $(function () {
      appns.sheep.create();

    });
  </script>
}