<div class="text-light">
  <h3>
    An error occured while processing your request.
    The support team is notified and we are working on the fix.
  </h3>
  <h5>Please contact us on support@crybit.co.za</h5>
  <hr />
  <a asp-controller="Sheep" asp-action="Index" class="home-link-arrow d-inline-flex align-items-center">
    <svg><use xlink:href="/images/main.svg#icon-arrow-left"></use></svg>

    Return to home page
  </a>
</div>